* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* container for individual videos */
.homepage1_video {
    padding-bottom: 3rem;
    /* position relative to position wacth later and download icons absolute to the right*/
    position: relative;
}

/* make video relative to position video duration on it */
.video {
    position: relative;
}

.video_duration {
    position: absolute;
    right: 0.7rem;
    bottom: 0.7rem;
    padding: 0.2rem;
    background-color: black;
    color: white;
    font-size: 13px;
    border:none;
    border-radius: 5px;
}

/* flex the three videos in each three sections on a single line */

.homepage1_video_container {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    width: 1000px;
    padding-left: 1rem;
    padding-bottom: 0.7rem;
}

/* style video title, author, views, watch later and download container */
.homepage1_video_container_info {
    display: flex;
    gap:6rem;
    padding-top: 0.7rem;
}

.homepage1_video_title_stats {
   line-height: 1.5;
}

.homepage1_video_title {
    font-size: 17px;
    font-weight: 540;
}

.homepage1_video_stats {
    font-size: 11px;
}

.homepage1_video_action_icons_container {
    position: absolute;
    right: 0;
}
.download {
    padding-left: 0.7rem;
}
.download-btn{
    border: none;
    background-color: transparent;
}
