*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}
.main-container{
    display: flex;
    background-color: #ffefdd;

}
a{
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding-bottom: 32px;
}
#profile-ul{
    display: flex;
    flex-direction: column;
    gap: 0;
    color: white;
}
.side-bar-left{
    width: 17%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1% 6%;
    background-color: #FFB154;
}
.side-bar-left ul{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: left;
    justify-content: center;
    gap: 32px;
}
.fa-solids{
    font-size: 60px;
}
.fa-solidz{
    font-size: 36px;
}
.fa-bars{
    width: 48px;
    height: 16px;
    font-weight: bold;
}
.side-bar-left ul li{
    border-bottom: 1px solid white;
    display: flex;
    margin-bottom: 5%;
    gap: 20%;
}
.side-bar-left-list li i{
    border: 1px solid black;
    padding: 10%;
    border-radius: 8px;
    margin-bottom: 5px;
}
.side-bar-left-list li{
font-size: 14px;
font-weight: bold;
line-height: 20px;
letter-spacing: 0em;

}
.side-bar-right{
    width: 83%;
    padding: 20px 3%;
    background-color: #ffefdd;
    
}
.header{
    display: flex;
    justify-content: space-between;
}
.header img{
    width: 173px;
    height: 56px;
}
.search{
    width: 41%;
    height: 40px;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0 3%;
}
.search input{
    width: 80%;
    height: 30px;
    border: none;
    border-radius: 8px;
}
.top-menu{
    display: flex;
    gap: 10%;
}
.upload-video{
    min-height: 512px;
    display: flex;
}
.profile-section{
    margin: 96px 0 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 1%;

}
.profile-list{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.profile-list h1{
font-size: 32px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0em;

}
.profile-button{
    width: 40%;
}
.profile-section img{
    width: 100%;
    height: 128px;
}
.profile-section ul{
    display: flex;
    gap: 5%;
    list-style: none;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;


}
.upload-video{
    padding-top: 5%;
    display: flex;
}
.textsarea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.textsarea h1{
font-size: 48px;
font-weight: 700;
line-height: 52px;
letter-spacing: 0em;

}
.textsarea p{
font-size: 24px;
font-weight: 500;
line-height: 32px;
letter-spacing: 0em;
margin-bottom: 64px;
}
.textsarea button, .signout{
    width: 40%;
    height: 60px;
    color: white;
    background-color: #EC8000;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
}
.feedback{
    width: 40%;
    height: 60px;
    color: #EC8000;
    background-color: white;
    border: 1px solid #EC8000;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
}
.textsarea button:hover, .signout:hover{
    color: #EC8000;
    background-color: white;
    border: 1px solid #EC8000;
}
.feedback:hover{
    color: white;
    background-color: #EC8000;
    border: none;
}
.upload-video img{
    width: 100%;
    height: 300px;
}